body{
    background: #fff;
}


.breadcrum{
    padding: 10px 20px;
    font-size: 12px;
    color: #565656;
}
.product-display{
    min-width: 100%;
    padding: 10px 20px;
    display: flex;
}
.product-d-image{
    display: flex;
    gap: 10px;
}
.product-d-icons{
    display: flex;
    flex-direction: column;
    gap: 10px ;

}
.product-d-icons img {
     border: 1px solid gray;
     border-radius: 10px;
     padding: 5px;
     
}
